body {
    background-color: black;
    text-align: center
}
h1{
    color:white
}
.top-content{
    font-family: Verdana;
    font-weight: normal;
    font-size:50px;
    color: white;
    text-align: center
}
.top-contentsub{
    font-family: Verdana;
    font-weight: normal;
    text-decoration: underline;
    font-size:16px;
    color: aquamarine;
    text-align: center
}
.mid-content{
    font-family: Verdana;
    font-weight: 300;
    font-size:42px;
    color: white;
    text-align: center
}
.mid-contentsub{
    font: normal 21px Verdana;
    color: gray;
    text-align: center

}
.end-contetn{
    font-family: Verdana;
    font-weight: 300;
    font-size:42px;
    color: white;
    text-align: center
}
.footer{
    font-family: Verdana;
    font-weight: normal;
    
    font-size:21px;
    color: gray;
    text-align: right
}
